# Node
node_modules/
.env
npm-debug.log*

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# React build output
client/build/

# Optional: IDEs/editors
.vscode/
.idea/

# Optional: coverage reports
coverage/